.header {
  position: fixed;
  background: $redToPurple;
  top: 0;
  width: 100%;
}

.header__title {
  color: white;
  font-size: 1.8rem;
}

.header__bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__nav {
  color: rgb(102, 34, 102);
  float: left;
  //float:left;
  text-decoration: none;
}
