* {
  box-sizing: border-box;
  left: 0;
  right: 0;
}

html {
  font-size: 62.5%;
}

body {
  // color: grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}
